<ion-header>
  <ion-toolbar>
      <ion-title color="light">Liste des projets</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
      <ion-list *ngFor="let projet of Projet.data" class="employeeItem">
              <ion-item lines="none">
                  <div class="list_projet">
                      <div>
                          <ion-label><strong>{{projet.nom_projet}} / {{projet.nom_groupe}}</strong></ion-label>
                      </div>
                      <div>
                          <ion-label class="nom_module">{{projet.nom_module}} / {{projet.modalite}}</ion-label>
                      </div>
                      <div>
                          <ion-label class="date_projet">{{projet.date_debut}} / {{projet.date_fin}}</ion-label>
                      </div>
                  </div>
                  <ion-button [routerLink]="['/detail-projet/',projet.groupe_id]" size="small" slot="end">
                      <ion-icon name="eye"></ion-icon>
                  </ion-button>
                  <ion-button size="small" [routerLink]="['/apprenant-groupe/',projet.groupe_id]" slot="end">
                    <ion-icon name="people"></ion-icon>
                  </ion-button>
          </ion-item>
      </ion-list>
  </div>
</ion-content>
